

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

#root {
  min-height: 100vh;
  overflow-y: auto;
}



.wider-modal {
  max-width: 800px; /* Adjust to desired width */
}

@media (max-width: 768px) {
  .wider-modal {
    max-width: 100%;
  }
}



/* Skeleton Loader Styles */
.skeleton {
  display: block;
  background: #f0f0f0;
  border-radius: 4px;
  animation: pulse 1.5s infinite ease-in-out;
}

.skeleton-text {
  background: #e0e0e0;
  height: 20px;
  margin: 10px 0;
  border-radius: 4px;
  animation: shimmer 1.5s infinite ease-in-out;
}

.skeleton-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 20px auto;
  background: #e0e0e0;
  animation: shimmer 1.5s infinite ease-in-out;
}

.skeleton-badge {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  margin: 10px auto;
  background: #e0e0e0;
  animation: shimmer 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    background-color: #f0f0f0;
  }
  50% {
    background-color: #e0e0e0;
  }
  100% {
    background-color: #f0f0f0;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}


.table-container {
  margin: 20px 0; /* Add spacing above and below the table */
  overflow: hidden; /* Ensure rounded corners look clean */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Custom shadow */
  border-radius: 8px; /* Custom rounded corners */
}



.admin-container {
  margin-top: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.admin-table {
  font-size: 0.875rem;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}

.admin-th {
  padding: 12px 16px;
  background-color: #f8f9fa;
  color: #64748b;
  text-align: center;
  border-bottom: 1px solid rgba(230, 232, 236, 0.8);
  border-right: 1px solid rgba(230, 232, 236, 0.8);
  white-space: nowrap; /* Prevent text wrapping */
  font-weight: 600;    /* Make headers more prominent */
  min-width: 140px;    /* Ensure minimum width for content */
}

.admin-td {
  padding: 12px 16px;
  text-align: center;
  border-bottom: 1px solid rgba(230, 232, 236, 0.8);
  border-right: 1px solid rgba(230, 232, 236, 0.8);
  font-weight: 500;    /* Make text slightly bolder */
  color: #374151;      /* Darker text color for better visibility */
}

.admin-lastColumn {
  border-right: none;
}
